#chat-container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#history {
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* padding-left: 1em; */
  /* padding-right: 1em; */
  width: 400px;
  max-height: 60%;
  /* height: 60%; */
  overflow-y: scroll;

  span {
    width: 100%;
  }

  #username {
    padding-left: 0.525rem;
  }
}

#message {
  width: 400px;
}

.fw {
  width: 100%;
}

.message-input {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    margin-right: 0.525rem;
  }
}

.mb {
  margin-bottom: 1em;
}
